.advantages {
  padding: 0 7.5%;
  padding-top: 110px;
  padding-bottom: 110px;
  background-color: #dae5f3;
  background-image: url("../img/advantages-bg@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/advantages-bg@2x.jpg");
  }
}

.advantages h2 {
  margin: 0;
  text-align: center;
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
}

.advantages ul {
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages li {
  width: 31%;
  min-height: 241px;
  padding: 30px 17px 43px 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: #f9fbfd;
}

.advantages h3 {
  margin: 0;
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}

.advantages p {
  margin: 0;
  margin-top: 9px;
  padding-right: 1px;
  font-size: 14px;
  line-height: 20px;
}

.advantages br {
  display: none;
}

@media (max-width: 1023px) {
  .advantages {
    padding: 0 5.7%;
    padding-top: 92px;
    padding-bottom: 88px;
  }

  .advantages h2 {
    font-size: 26px;
    line-height: 39px;
  }

  .advantages li {
    width: 31%;
    min-height: 310px;
    padding: 23px 15px 20px 20px;
  }

  .advantages svg {
    height: 26px;
  }

  .advantages p {
    margin-top: 8px;
  }

  .advantages br {
    display: inline;
  }
}

@media (max-width: 767px) {
  .advantages {
    padding: 0 4.7%;
    padding-top: 56px;
    padding-bottom: 35px;
  }

  .advantages h2 {
    font-size: 24px;
    line-height: 36px;
  }

  .advantages ul {
    flex-direction: column;
    margin-top: 30px;
  }

  .advantages li {
    width: 100%;
    min-height: 250px;
    margin-bottom: 30px;
    padding-left: 18px;
  }

  .advantages h3 {
    width: 200px;
  }
}
