.cruises h2 {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
}

.cruises h3 {
  position: absolute;
  bottom: 22px;
  left: 45px;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #f9fbfd;
  z-index: 20;
}

.cruises ul {
  width: 85%;
  margin: auto;
  margin-top: 20px;
  max-width: 1299px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.cruises__item {
  padding: 0 15px;
  position: relative;
  width: 25%;
  min-height: 386px;
  margin-top: 30px;
  box-sizing: border-box;
}

.cruises__item img {
  height: 100%;
  width: 90%;
  box-sizing: content-box;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 15px;
}

.cruises__item-info {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: 100%;
  min-height: 386px;
  padding: 30px 15px 35px 25px;
  background-color: #011c40;
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
}

.cruises__item:hover > .cruises__item-info,
.cruises__item:focus > .cruises__item-info {
  display: flex;
}

.cruises__item:hover h3,
.cruises__item:focus h3,
.cruises__item:hover img,
.cruises__item:focus img {
  display: none;
}

.cruises__item-info caption {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #f9fbfd;
  text-align: left;
}

.cruises__item-info tr {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.cruises__item-info th {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #f9fbfd;
}

.cruises__item-info td {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #d8d8d9;
}

.cruises__item-info a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96%;
  height: 40px;
  margin-top: 0;
  background-color: #f9fbfd;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #011c40;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: #ebedf0;
  }

  &:active {
    background-color: #d2d4d6;
  }
}

@media (max-width: 1023px) {
  .cruises {
    padding: 0 5.7%;
  }

  .cruises h2 {
    font-size: 26px;
    line-height: 39px;
  }

  .cruises ul {
    width: 100%;
    margin-left: -15px;
    margin-top: 22px;
  }

  .cruises__item {
    margin-top: 29px;
  }

  .cruises__item,
  .cruises__item img,
  .cruises__item-info {
    width: 309px;
    min-height: 386px;
  }

  .cruises h3 {
    left: 49px;
    bottom: 28px;
  }

  .cruises__item:hover > h3,
  .cruises__item:focus > h3 {
    top: 30px;
    left: 35px;
  }

  .cruises__item-info {
    padding-top: 28px;
    padding-left: 32px;
  }

  .cruises__item-info a {
    width: 239px;
  }
}

@media (max-width: 767px) {
  .cruises {
    padding: 0 4.7%;
  }

  .cruises h2 {
    font-size: 24px;
    line-height: 36px;
  }

  .cruises__item,
  .cruises__item img,
  .cruises__item-info {
    width: 270px;
    min-height: 386px;
  }

  .cruises ul {
    margin-top: 0;
  }

  .cruises__item {
    margin-top: 30px;
  }

  .cruises h3 {
    left: 39px;
    bottom: 16px;
  }

  .cruises__item-info {
    padding-left: 24px;
  }

  .cruises__item:hover > h3,
  .cruises__item:focus > h3 {
    left: 24px;
  }

  .cruises__item-info a {
    width: 220px;
  }
}
