.details {
  padding: 0 7.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.details div {
  flex-basis: calc(100% - 560px);
}

.details h2 {
  margin-top: 5px;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  color: #011c40;
}

.details p {
  margin-right: 65px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #011c40;
}

@media (max-width: 1023px) {
  .details {
    padding: 0 calc(50% - 339px);
  }

  .details div {
    flex-basis: calc(100% - 324px);
  }

  .details h2 {
    width: 225px;
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 26px;
    line-height: 36px;
  }

  .details p {
    margin-top: 16px;
    margin-right: 34px;
  }

  .details img {
    width: 324px;
    height: 264px;
    object-fit: cover;
  }
}

@media (max-width: 767px) {
  .details {
    padding: 0 calc(50% - 145px);
    flex-direction: column;
  }

  .details h2 {
    width: 200px;
    font-size: 24px;
    line-height: 34px;
  }

  .details p {
    margin-right: 0;
  }

  .details img {
    margin-top: 15px;
    margin-right: 0;
    width: 290px;
    height: 186px;
  }
}
