.intro {
  height: 650px;
  background-color: #003571;
  background-image: url("../img/main-screen-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/main-screen-desktop@2x.jpg");
  }
}

.intro > div {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.intro h1 {
  margin: 0 7.5%;
  padding-left: 10px;
  padding-top: 270px;
  margin-bottom: 0;
  color: #f9fbfd;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
}

.intro p {
  margin: 0 7.5%;
  margin-top: 13px;
  margin-bottom: 19px;
  padding-left: 10px;
  color: #f9fbfd;
  font-size: 20px;
  line-height: 24px;
}

.intro br {
  display: none;
}

@media (max-width: 1023px) {
  .intro {
    height: 638px;
    background-image: url("../img/main-screen-tablet@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/main-screen-tablet@2x.jpg");
    }
  }

  .intro h1 {
    margin: 0 5.7%;
    padding-top: 269px;
    padding-left: 0;
    font-size: 50px;
    line-height: 61px;
  }

  .intro p {
    margin: 0 5.7%;
    margin-top: 12px;
    margin-bottom: 17px;
    padding-left: 0;
    font-size: 18px;
    line-height: 22px;
  }
}

@media (max-width: 767px) {
  .intro {
    height: 500px;
    background-image: url("../img/main-screen-mobile@1x.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/main-screen-mobile@2x.jpg");
    }
  }

  .intro h1 {
    margin: 0 4.7%;
    padding-top: 177px;
    font-size: 36px;
    line-height: 45px;
  }

  .intro p {
    margin: 0 4.7%;
    margin-top: 10px;
    margin-bottom: 16px;
    width: 70%;
    font-size: 16px;
    line-height: 22px;
  }

  .intro br {
    display: inline;
  }
}
