.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 0 7.5%;
  min-height: 110px;
  position: relative;
}

.page-header > div {
  flex-basis: 100%;
  max-width: 1160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.page-header__nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.page-header__nav li {
  list-style: none;
  padding-left: 0;
  padding-right: 33px;
}

.page-header__nav li:last-child {
  padding-right: 0;
}

.page-header__nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #f9fbfd;

  &:hover,
  &:focus {
    color: #d4d4d4;
  }

  &:active {
    color: #c4c4c4;
  }
}

.page-header__nav-toggler {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  display: none;
  position: absolute;
  right: 4.7%;
  top: 19px;
}

.page-header__nav-toggler--menu-closed {
  background-image: url("../img/icons/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-header__nav-toggler--menu-opened {
  background-image: url("../img/icons/icon-cross.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1023px) {
  .page-header {
    padding: 0 5.7%;
    min-height: 80px;
  }

  .page-header__logo svg {
    width: 38px;
    height: 20px;
  }

  .page-header__nav li {
    padding-right: 24px;
  }

  .page-header__nav a {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 767px) {
  .page-header {
    align-items: flex-start;
    padding: 0 4.7%;
    padding-top: 20px;
    background-color: transparent;
  }

  .page-header > div {
    flex-direction: column;
    align-items: flex-start;
  }

  .page-header__nav ul {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 29px;
  }

  .page-header__nav li {
    margin-top: 15px;
  }

  .page-header__nav a {
    font-size: 18px;
    line-height: 22px;
    color: #011c40;

    &:hover,
    &:focus {
      color: #000c1c;
    }
  }

  .page-header__logo svg {
    padding-top: 0;
    width: 42px;
    height: 22px;
  }

  .page-header__nav-toggler {
    display: block;
    right: 12%;
  }

  .page-header__nav-toggler--menu-closed {
    right: 4.7%;
  }

  .page-header__nav-toggler--no-js,
  .page-header__nav--closed {
    display: none;
  }

  .page-header__nav--no-js,
  .page-header__nav--opened {
    display: block;
    margin-bottom: 160px;
  }

  .page-header--opened {
    position: relative;
    background-color: #f9fbfd;
    width: 100%;
  }

  .page-header--opened + .page-main {
    margin-top: -303px;
  }

  .page-header__svg--menu-opened path {
    fill: #011c40;
  }
}
