.page-main {
  flex: 1 0 auto;
}

.page-main__intro {
  margin-top: -110px;
}

.page-main__details {
  margin-top: 119px;
  margin-bottom: 110px;
}

.page-main__cruises {
  margin-top: 110px;
  margin-bottom: 120px;
}

.page-main__contacts {
  margin-top: 120px;
  margin-bottom: 112px;
}

@media (max-width: 1023px) {
  .page-main__intro {
    margin-top: -81px;
  }

  .page-main__details {
    margin-top: 81px;
    margin-bottom: 74px;
  }

  .page-main__cruises {
    margin-top: 90px;
    margin-bottom: 100px;
  }

  .page-main__contacts {
    margin-top: 100px;
    margin-bottom: 91px;
  }
}

@media (max-width: 767px) {
  .page-main__intro {
    margin-top: -100px;
  }

  .page-main__details {
    margin-top: 45px;
    margin-bottom: 58px;
  }

  .page-main__cruises {
    margin-top: 56px;
    margin-bottom: 65px;
  }

  .page-main__contacts {
    margin-top: 68px;
    margin-bottom: 57px;
  }
}
